   
<center>
<hr style="width: 1300px;">
<footer>
  <p>Created by: Nikolaos Hadjitheophanous</p>
  <p>Contact information: <a href="mailto:2156764H@student.gla.ac.uk">2156764H@student.gla.ac.uk</a>.</p>
</footer>
</center>


     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://oblogin.com/static/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>