<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link href="http://oblogin.com/static/images/glasgow_favicon.jpg" rel="icon">
    <title><?php if(isset($title)){ echo $title; }?></title>
    
    <!-- Bootstrap -->
    <link href="http://oblogin.com/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css" media="screen" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600" rel="stylesheet" type="text/css">
     
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="static/js/jquery-1.11.1.min.js"> </script>
    <script src="http://oblogin.com/static/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>


<div class="container">
	
<a href="http://oblogin.com/">
	<img src="http://oblogin.com/static/images/uni_glasgow_logo2.png">
</a>
			
			
<nav class="navbar navbar-default">
<div class="container-fluid">
<div class="navbar-header">

<!-- Add Image on the menu!  -->
<a class="navbar-brand" href="http://oblogin.com/">
	<img alt="Brand" src="http://oblogin.com/images/glasgow_favicon.jpg">
</a>


<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="http://oblogin.com/">Home</a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">	
	<ul class="nav navbar-nav navbar-right">
        <li><a href="http://oblogin.com/help.php">Help</a></li>
		
        <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Different Accounts<span class="caret"></span></a>
	<ul class="dropdown-menu">
			
		<li> <a href="BankAccount.php?account=bank-account.png">Bank Account</a></li>		
		<li><a href="SocialMedia.php?account=social_media.png">Social Media</a></li>
		<!--   <li role="separator" class="divider"></li>   -->
		<li><a href="OnlineShopping.php?account=online_shopping.png">Online Shopping</a></li>	
		<li><a href="account_blog.php?account=blog.PNG">Blog Account</a></li>
		<li><a href="PersonalEmail.php?account=personal_email.png">Personal Email</a></li>
		<li><a href="OfficeEmail.php?account=office_email.png">Office Email</a></li>
	</ul>
        </li>
		

        <!-- <li><a href="#">Log out</a></li> -->
	</ul>		



    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- *******************Telos tou menu *******************************      -->
</div>